:root {
  --shadow-default: 0 2px 4px 0 #1717171A;
  --shadow-hover: 0 2px 6px 0 #1717172E;

  --shadow-dropdown: 0 8px 22px 0 #17171724;

  --blur: blur(22px);

  --radius-8: 8px;
  --radius-10: 10px;
  --radius-12: 12px;
  --radius-14: 14px;
  --radius-16: 16px;
  --radius-24: 24px;
  --radius-64: 64px;

  --transition-3: 0.3s;
}
