@use './colors' as *;
@use './decoration' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
  color: var(--black);
  font-weight: 400;
}

body {
  overflow-x: hidden;
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}
